/* Converted from production firmware DTB /i2c@ff3c0000 */
&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_xfer>;
	#address-cells = <0x01>;
	#size-cells = <0x00>;
	status = "okay";
	i2c-scl-rising-time-ns = <0xa8>;
	i2c-scl-falling-time-ns = <0x04>;
	clock-frequency = <0x61a80>;
	vdd_cpu_b: syr827@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		pinctrl-names = "default";
		pinctrl-0 = <&vsel1_pin>;
		vsel-gpios = <&gpio1 0x11 0x00>;
		regulator-name = "vdd_cpu_b";
		regulator-min-microvolt = <0xadf34>;
		regulator-max-microvolt = <0x16e360>;
		regulator-ramp-delay = <0x3e8>;
		fcs,suspend-voltage-selector = <0x01>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc3v3_sys>;
		regulator-initial-state = <0x03>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
	vdd_gpu: syr828@41 {
		compatible = "silergy,syr828";
		reg = <0x41>;
		pinctrl-names = "default";
		pinctrl-0 = <&vsel2_pin>;
		vsel-gpios = <&gpio1 0x0e 0x00>;
		regulator-name = "vdd_gpu";
		regulator-min-microvolt = <0xadf34>;
		regulator-max-microvolt = <0x16e360>;
		regulator-ramp-delay = <0x3e8>;
		fcs,suspend-voltage-selector = <0x01>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc3v3_sys>;
		regulator-initial-state = <0x03>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};
	rk808: pmic@1b {
		compatible = "rockchip,rk808";
		reg = <0x1b>;
		interrupt-parent = <&gpio1>;
		interrupts = <0x15 0x08>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l &pmic_dvs2>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <0x01>;
		clock-output-names = "xin32k", "rk808-clkout2";
		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;
		vcc10-supply = <&vcc3v3_sys>;
		vcc11-supply = <&vcc3v3_sys>;
		vcc12-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc_3v0>;
		regulators {
			vdd_center: DCDC_REG1 {
				regulator-name = "vdd_center";
				regulator-min-microvolt = <0xb71b0>;
				regulator-max-microvolt = <0x149970>;
				regulator-ramp-delay = <0x1771>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			vdd_cpu_l: DCDC_REG2 {
				regulator-name = "vdd_cpu_l";
				regulator-min-microvolt = <0xb71b0>;
				regulator-max-microvolt = <0x149970>;
				regulator-ramp-delay = <0x1771>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};
			vcc_1v8: DCDC_REG4 {
				regulator-name = "vcc_1v8";
				regulator-min-microvolt = <0x1b7740>;
				regulator-max-microvolt = <0x1b7740>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <0x1b7740>;
				};
			};
			vcc1v8_dvp: LDO_REG1 {
				regulator-name = "vcc1v8_dvp";
				regulator-min-microvolt = <0x1b7740>;
				regulator-max-microvolt = <0x1b7740>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};
			vcc3v0_tp: LDO_REG2 {
				regulator-name = "vcc3v0_tp";
				regulator-min-microvolt = <0x2dc6c0>;
				regulator-max-microvolt = <0x2dc6c0>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			vcc1v8_pmu: LDO_REG3 {
				regulator-name = "vcc1v8_pmu";
				regulator-min-microvolt = <0x1b7740>;
				regulator-max-microvolt = <0x1b7740>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <0x1b7740>;
				};
			};
			vcc_sd: LDO_REG4 {
				regulator-name = "vcc_sd";
				regulator-min-microvolt = <0x1b7740>;
				regulator-max-microvolt = <0x2dc6c0>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <0x2dc6c0>;
				};
			};
			vcca3v0_codec: LDO_REG5 {
				regulator-name = "vcca3v0_codec";
				regulator-min-microvolt = <0x2dc6c0>;
				regulator-max-microvolt = <0x2dc6c0>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			vcc_1v5: LDO_REG6 {
				regulator-name = "vcc_1v5";
				regulator-min-microvolt = <0x16e360>;
				regulator-max-microvolt = <0x16e360>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <0x16e360>;
				};
			};
			vcca1v8_codec: LDO_REG7 {
				regulator-name = "vcca1v8_codec";
				regulator-min-microvolt = <0x1b7740>;
				regulator-max-microvolt = <0x1b7740>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			vcc_3v0: LDO_REG8 {
				regulator-name = "vcc_3v0";
				regulator-min-microvolt = <0x2dc6c0>;
				regulator-max-microvolt = <0x2dc6c0>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <0x2dc6c0>;
				};
			};
			vcc3v3_s3: SWITCH_REG1 {
				regulator-name = "vcc3v3_s3";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
			vcc3v3_s0: SWITCH_REG2 {
				regulator-name = "vcc3v3_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
		rtc {
			rkrtc: rk808-rtc {
				status = "okay";
			};
		};
	};
};

/* Converted from production firmware DTB /i2c@ff110000 */
&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_xfer>;
	#address-cells = <0x01>;
	#size-cells = <0x00>;
	status = "okay";
	i2c-scl-rising-time-ns = <0x12c>;
	i2c-scl-falling-time-ns = <0x0f>;
	es8316: codec@10 {
		#sound-dai-cells = <0x00>;
		compatible = "everest,es8316";
		reg = <0x10>;
		clocks = <&cru 0x59>;
		clock-names = "mclk";
		pinctrl-names = "default";
		pinctrl-0 = <&i2s_8ch_mclk>;
		spk-con-gpio = <&gpio4 0x19 0x00>;
	};
};

/* Converted from production firmware DTB /i2c@ff3d0000 */
&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_xfer>;
	#address-cells = <0x01>;
	#size-cells = <0x00>;
	status = "okay";
	i2c-scl-rising-time-ns = <0x258>;
	i2c-scl-falling-time-ns = <0x14>;
	mpu6500@68 {
		status = "disabled";
		compatible = "invensense,mpu6500";
		reg = <0x68>;
		irq-gpio = <&gpio1 0x16 0x01>;
		mpu-int_config = <0x10>;
		mpu-level_shifter = <0x00>;
		mpu-orientation = <0x00 0x01 0x00 0x01 0x00 0x00 0x00 0x00 0x01>;
		orientation-x = <0x01>;
		orientation-y = <0x00>;
		orientation-z = <0x00>;
		mpu-debug = <0x01>;
	};
};

/* Converted from production firmware DTB /i2c@ff150000 */
&i2c6 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_xfer>;
	#address-cells = <0x01>;
	#size-cells = <0x00>;
	status = "okay";
};

/* Converted from production firmware DTB /i2c@ff3e0000
 * Disabled: i2c8 uses GPIO1_C4/C5 (i2c8_xfer) and GPIO1_C5 is the rk808
 * PMIC interrupt line (see &i2c0/rk808). The touch panel is not used on
 * this box, so keep the bus off to leave C5 to the PMIC. */
&i2c8 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c8_xfer>;
	#address-cells = <0x01>;
	#size-cells = <0x00>;
	status = "disabled";
	ilitek@41 {
		compatible = "tchip,ilitek";
		reg = <0x41>;
		vdd-supply = <&vcc3v0_tp>;
		vcc_i2c-supply = <&vcc_3v0>;
		ilitek,irq-gpio = <&gpio1 0x12 0x00>;
		ilitek,reset-gpio = <&gpio1 0x18 0x00>;
		ilitek,vbus = "vcc_i2c";
		ilitek,vdd = "vdd";
		ilitek,name = "ilitek_i2c";
	};
};

/* Converted from production firmware DTB /spi@ff1d0000 */
&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_clk &spi1_tx &spi1_rx &spi1_cs0>;
	#address-cells = <0x01>;
	#size-cells = <0x00>;
	status = "okay";
	max-freq = <0x2dc6c00>;
	spi_wk2xxx@0 {
		status = "okay";
		compatible = "wkmic,wk2124_spi";
		reg = <0x00>;
		spi-max-frequency = <0x989680>;
		poll_mode = <0x00>;
		type = <0x00>;
		enable_dma = <0x00>;
		irq-gpio = <&gpio3 0x1c 0x04>;
		pinctrl-names = "default";
		pinctrl-0 = <&wk2_irq>;
	};
};

/* Converted from production firmware DTB /ethernet@fe300000 */
&gmac {
	status = "okay";
	assigned-clocks = <&cru 0xa6>;
	assigned-clock-parents = <&clkin_gmac>;
	clock_in_out = "input";
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	snps,reset-gpio = <&gpio3 0x0f 0x01>;
	snps,reset-active-low;
	snps,reset-delays-us = <0x00 0x2710 0xc350>;
	tx_delay = <0x28>;
	rx_delay = <0x11>;
};

/* Converted from production firmware DTB /sdhci@fe330000 */
&sdhci {
	assigned-clocks = <&cru 0x4e>;
	assigned-clock-rates = <0xbebc200>;
	status = "okay";
	assigned-clock-parents = <&cru 0x05>;
	bus-width = <0x08>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	supports-emmc;
	non-removable;
	keep-power-in-suspend;
};

/* Converted from production firmware DTB /saradc@ff100000 */
&saradc {
	#io-channel-cells = <0x01>;
	status = "okay";
};

/* Converted from production firmware DTB /tsadc@ff260000 */
&tsadc {
	assigned-clocks = <&cru 0x4f>;
	assigned-clock-rates = <0xb71b0>;
	rockchip,hw-tshut-temp = <0x1adb0>;
	pinctrl-names = "gpio", "otpout";
	pinctrl-0 = <&otp_gpio>;
	pinctrl-1 = <&otp_out>;
	#thermal-sensor-cells = <0x01>;
	status = "okay";
	rockchip,hw-tshut-mode = <0x01>;
	rockchip,hw-tshut-polarity = <0x01>;
};

/* Converted from production firmware DTB /pwm@ff420000 */
&pwm0 {
	#pwm-cells = <0x03>;
	pinctrl-names = "active";
	pinctrl-0 = <&pwm0_pin>;
	status = "okay";
};

/* Converted from production firmware DTB /pwm@ff420010 */
&pwm1 {
	#pwm-cells = <0x03>;
	pinctrl-names = "active";
	pinctrl-0 = <&pwm1_pin>;
	status = "okay";
};

/* Converted from production firmware DTB /pwm@ff420020 */
&pwm2 {
	#pwm-cells = <0x03>;
	pinctrl-names = "active";
	pinctrl-0 = <&pwm2_pin>;
	status = "okay";
};

/* Converted from production firmware DTB /pwm@ff420030 */
&pwm3 {
	#pwm-cells = <0x03>;
	pinctrl-names = "active";
	pinctrl-0 = <&pwm3a_pin>;
	status = "okay";
};
